spring:
  datasource:
    url: jdbc:h2:mem:test
    driverClassName: org.h2.Driver
    username: sa
    password:
    sqlScriptEncoding: UTF-8
  h2:
    console:
      enabled: true
      path: /h2
  jpa:
    database-platform: H2
    generate-ddl: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  sql:
    init:
      mode: always
      data-locations: classpath*:db/h2/data.sql
      schema-locations: classpath*:db/h2/schema.sql